<div class="col-md-6 offset-md-3 style=" style="opacity: 80%;color: white;">
    <h3 style="color: white;"> Manager </h3>
    <form (ngSubmit) = "onSubmit()" style="background-color: black;opacity: 70%; margin: 20px;width:500px;padding-left:40px;padding-right: 40px;">
    
        <div class="form-group">
            <label> Name</label>
            <input type="text" class ="form-control" id = "Managername"
                [(ngModel)] = "manager.Managername" name = "Managername">
        </div>
    
        <div class="form-group">
            <label> Mail-Id</label>
            <input type="text" class ="form-control" id = "Mail-Id"
                [(ngModel)] = "manager.Mail-Id" name = "Mail-IdMail-Id">
        </div>
  
  
  
  
        <div class="form-group">
            <label> Task </label>
            <input type="text" class ="form-control" id = "Task"
                [(ngModel)] = "manager.Task" name = "Task">
        </div><br>
  
        <div class="form-group">
            <label> Due Date </label>
            <input type="text" class ="form-control" id = "Date"
                [(ngModel)] = "manager.Date" name = "Date">
        </div><br>
  
       
  
       
    
        <button class = "btn btn-success" style="color:#EEE2DC;background:#075e4d;font-size:17px" type ="submit">Submit</button>
    
    </form>
    </div>
  
  